<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MvP Timer</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body ng-app="MvP-Timer" ng-controller="myCtrl">
    <div class="grid-container">

      <div class="columns large-12">
        <form class="new-mvp-form" name="mvpForm">
          <div class="input-group">
            <select class="input-group-field" name="new-mvp" ng-options="mvp.name for mvp in mvpArr track by mvp.name" ng-model="newMvp.obj"></select>
            <input class="input-group-field" type="datetime-local" name="new-time" placeholder="Time was dead" ng-model="newMvp.time">
            <div class="input-group-button">
              <input type="submit" class="button" value="Add" ng-click="addMvpTimer()">
            </div>
          </div>
        </form>
      </div>

      <div class="large-12 cell" ng-show="deadMvps.length">
        <div class="callout">
          <div class="grid-x grid-padding-x">
            <div class="large-4 medium-4 cell" ng-repeat="mvp in deadMvps">
              <div class="card">
                <div class="card-divider">
                  {{mvp.name}}
                </div>
                <img src="http://placehold.it/300x200">
                <div class="card-section">
                  <h4><timer interval="1000" countdown="mvp.interval" finish-callback="timerDone(mvp)">{{hhours}}:{{mminutes}}:{{sseconds}}</timer></h4>
                  <p><i class="fa fa-times"></i> {{mvp.died | date:'shortTime'}} <i class="fa fa-sun-o"></i> {{mvp.rebirth | date:'shortTime'}}</p>
                  <div class="label alert" ng-click="removeMvpTimer($index)"><i class="fa fa-times"></i> Remover</div>
                </div>
                <div class="done-frame" ng-show="mvp.finished" ng-click="removeMvpTimer($index)">
                  <div class="done-message">
                    It's alive!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/min/locales.min.js"></script>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
